# Git/Github
.git
.github
.gitignore

# FastAPI dev/build outputs
__pycache__
.ruff_cache

# Python dependencies
.venv

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Env files
.env*
!.env.example

# Dockerfile
.dockerignore
Dockerfile

# Assets files
assets
!assets/**/.gitkeep